[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
openai = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
